.form-control {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 1em;
}

.form-control + .form-control {
  margin-top: 1em;
  margin-bottom: 1em;
}

input[type="checkbox"] {
  -webkit-appearance: none;

  appearance: none;

  margin: 0;

  font: inherit;
  color: var(--gelo);
  width: 1.15em;
  height: 1.15em;
  border: 2px solid var(--gelo);

  display: grid;
  place-content: center;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: var(--verde);
  border: 2px solid var(--verde);
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 50ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--cinza-muito-claro);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.span-checkbox {
  font-weight: 200;
}