.formulario {
    /* border: 1px solid blueviolet; */

    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    color: aliceblue;
}

.formulario .slider {
    /* border: 1px solid greenyellow; */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.formulario button {
    max-width: 100%;
    margin: 0 20px;
}

.lista-checkbox {

}

.formulario .lista-checkbox > div{
    /* border: 1px solid yellow; */

    margin-bottom: 20px;
}